@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700;800;900&display=swap');
* {
  /* Colors */
  --text-black: #0c2218;
  --text-light: #f0f9f3;
  --primary: #39905f;
  --primary-light: #8bcaa3;
  --primary-lightest: #dbf0e0;
  --primary-dark: #205c3d;
  --primary-darker: #173d2a;

  /* Font & Typography */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /* Font Weight */
  --font-light: 200;
  --font-nav: 300;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
}

h1, h2, h3, p {
  font-family: var(--body-font);
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-weight: var(--font-bold);
}

p {
  font-weight: var(--font-medium);
  color: var(--text-light);
}

body {
  min-height: 100vh;
  background-image: linear-gradient(#061134, #061134, var(--primary-dark));
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  width: 90vw;
  margin-top: 20px;
  padding: 10px 0px;

  /* Frosted glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.logo {
  flex-basis: 20%;
  padding: 0px 2em;
  color: var(--text-light);
}

.logo p {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}


nav {
  flex-basis: 80%;
}

.navList {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

.navItem a{
  text-decoration: none;
  color:var(--text-light);
  font-size: 18px;
  font-weight: var(--font-nav);

  /* "Animated" Underline */
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(var(--primary) 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
}

.navItem a:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}

footer {
  display: grid;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: 0;
  width: 90vw;
  margin-bottom: 20px;
  padding: 10px 0px;

  /* Frosted glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.footerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameBox {
  grid-column: 1 / span 3;
}

.nameBox p {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
}

.footerBox a {
  color: var(--text-light);
  font-family: var(--body-font);
  text-decoration: none;
}

.footerBox a:hover {
  text-decoration: underline;
}

.socialsBox a {
  margin-right: 15px;
}

.socialsBox a:hover {
  color: var(--primary-light);
}

svg {
  width: 40px;
}

article {
  margin: 100px 2em;
  padding: 20px;
  /* Frosted glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#profile {
  width: 75vw;
  display: grid;
  grid-template:
    "profPic name name name"
    "profPic job job job"
    "profPic social social resume";
  row-gap: 20px;
}

#profileImage {
  grid-area: profPic;
  width: 150px;
  height: 150px;
  border-radius: 100%; 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center;
}

#profileName {
  grid-area: name;
  font-size: 3em;
  font-weight: var(--font-bold);
}

#profileJob {
  grid-area: job;
}

#profSocial {
  grid-area: social;
  display: flex;
  justify-content: space-around;
}

#profSocial a {
  color: var(--text-light);
}

#profSocial a:hover {
  color: var(--primary);
}

#profResume {
  text-align: center;
  grid-area: resume;
  border: solid;
  border-color: var(--primary);
  border-radius: 20px;
  background-color: var(--primary);
  text-decoration: none;
  color: var(--text-light);
}

#profResume:hover {
  border-color: var(--primary-dark);
  background-color: var(--primary-dark);
}

#profileImage img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}